/*
This is the master scss file where all variables/mixin that you wish to use within the global scope are imported from.
To use in layers use default vue template or import with '@import "@import "../../assets/master";";' Note the no use of underscore.
Please note that you may have to change the directory path if using components further up the directory listing.
 */

$primaryColour: #027ef1;
$secondaryColour: #026ed2;
$primaryWhite: #fcfcfd;
$primaryDark: #162030;
$lightGrey: #d7d9db;
$darkGrey: #c9b3c1;
$fontFamily: 'Oxygen', sans-serif;
