// Global variables outline in app so that they can have scope over other objects that are scoped to components.
// Colour Palette Reference https://puu.sh/vVbjW/f802be9239.png
$primaryColour: #027ef1;
$secondaryColour: #026ed2;
$primaryWhite: #fcfcfd;
$primaryDark: #162030;
$lightGrey: #d7d9db;
$mediumGrey: #5f6b82;
$darkGrey: #c9b3c1;
$darkerBlue: #0079ea;
$darkBlue: #0071db;

//$fontFamily: 'Roboto', sans-serif;
$fontFamily: 'Montserrat', sans-serif;

// global overrides for the bootstrap h tags
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
}

// Outlined Button - Blue Outline
.btn-outline-primary {
  color: $primaryColour;
  background-image: none;
  background-color: transparent;
  border-color: $primaryColour;
  text-transform: uppercase;
  padding: 0.9rem 1.4rem 0.9rem 1.5rem;
  cursor: pointer;
  font-size: 15px;

  svg {
    margin-left: 10px;
    margin-top: -4px;
  }
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:visited {
  background-color: $primaryColour;
  color: #fff;
}

// Outlined Button - White Outline
.btn-outline-secondary {
  color: #fff;
  background-image: none;
  background-color: transparent;
  border-color: #fff;
  text-transform: uppercase;
  padding: 0.9rem 1.5rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;

  svg {
    margin-left: 10px;
    margin-top: -4px;
  }
}

.btn-outline-secondary:hover {
  background-color: #fff;
  border-color: #fff;
  color: #027ef1;

  svg {
    color: #027ef1;
  }
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus, .btn-outline-primary:visited {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.page-title-block {
  padding: 25px 0;
}
.page-title-block h1.main-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 5px 0;
}
.page-title-block h2.sub-title {
  font-size: 1.2rem;

}

@mixin gradient($start-color, $end-color, $orientation) {
  background: $start-color;
  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}


.Home {
  p {
    line-height: 1.7;
  }
  h2 {
    color: #027ef1;
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 1.2;
  }
  h3 {
    color: #027ef1;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 1.2;
  }
}

.Seo, .Web {
  p {
    line-height: 1.7;
    color: #5f6b82;
    font-size: 16px;
  }
  h2 {
    color: #027ef1;
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 1.2;
  }
  h3 {
    color: #027ef1;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.2;
  }
}
